<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Stimulus Bot - Bot Configuration</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="image/stimuluslogo.png">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
	<script src="js/configapp.js"></script>
	<link rel="stylesheet" href="css/styles.css">
</head>

<body ng-app='app' ng-controller='ConfigController as configOptions' >

	<div class="container">
		<div class="row " style="margin-bottom:50px">
			<div class="col-md-3 mx-auto">
				<div class"text-center">
					<h1>Stimulus Bot</h1>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-5 mx-auto">
				<div class="panel panel-default">
					<div class="panel-heading text-center">Configure Bot</div>
					<div class="panel-body text-center">
						<form ng-submit="configOptions.saveJSON()" class="form-signin">
							<div class="form-group">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">Discord Token</span>
									</div>
									<input type="text" class="form-control" ng-model="configOptions.config.token" placeholder="Discord Token" required autofocus>
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text">ACT log folder</span>
									</div>
									<input type="text" class="form-control" ng-model="configOptions.config.act_log_folder" placeholder="Act Log Folder" required>
								</div>
								<input class="btn btn-primary float-right" type="submit" value="Generate File">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
	</div>

</body>